*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    background-image: url('https://source.unsplash.com/1600x900/?nature,sky');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.2em;
    color: #333;
    text-shadow: 2px 2px 2px #ccc;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #666;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #666;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #666;
}

